<div *ngIf="post$ | async as post; else loading">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.author }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ post.date | date : "medium" : "" : "ru" }}
      </h6>
      <div class="card-text">
        <quill-view-html [content]="post.text"> </quill-view-html>
      </div>
      <a routerLink="/" class="card-link">Main page</a>
    </div>
  </div>
</div>

<ng-template #loading>
  <h3 class="text-center m-4">Loading...</h3>
</ng-template>
