<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new post</h1>
  <div
    class="mb-3 form-control"
    [ngClass]="{
      invalid: form.get('title').touched && form.get('title').invalid
    }"
  >
    <label for="title" class="form-label w-100">Post title</label>
    <input class="w-100" type="text" id="title" formControlName="title" />
    <div
      class="validation"
      *ngIf="form.get('title').touched && form.get('title').invalid"
    >
      <small *ngIf="form.get('title').errors.required">Enter title</small>
    </div>
  </div>

  <div class="mb-3 form-control">
    <label for="post" class="form-label w-100">Post text</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div
    class="mb-3 form-control"
    [ngClass]="{
      invalid: form.get('author').touched && form.get('author').invalid
    }"
  >
    <label for="author" class="form-label w-100">Post author</label>
    <input class="w-100" type="text" id="author" formControlName="author" />
    <div
      class="validation"
      *ngIf="form.get('author').touched && form.get('author').invalid"
    >
      <small *ngIf="form.get('author').errors.required">Enter author</small>
    </div>
  </div>

  <div
    class="mb-3 form-control"
    [ngClass]="{
      invalid: form.get('category').touched && form.get('category').invalid
    }"
  >
    <label for="category" class="form-label w-100">Post category</label>
    <input class="w-100" type="text" id="category" formControlName="category" />
    <div
      class="validation"
      *ngIf="form.get('category').touched && form.get('category').invalid"
    >
      <small *ngIf="form.get('category').errors.required">Enter category</small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Create
  </button>
</form>
