<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2>{{ post.title }}</h2>
    <small> {{ post.date | date : "dd.MM.yyyy" }} </small>
  </div>

  <div class="card-body">
    <p class="card-text">
      {{ post.author }}
    </p>
    <button [routerLink]="['/post', post.id]" class="btn btn-dark">
      Open txt
    </button>
  </div>
</div>
