<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Edit post</h1>
    <div
      class="mb-3 form-control"
      [ngClass]="{
        invalid: form.get('title').touched && form.get('title').invalid
      }"
    >
      <label for="title" class="form-label w-100">Post title</label>
      <input class="w-100" type="text" id="title" formControlName="title" />
      <div
        class="validation"
        *ngIf="form.get('title').touched && form.get('title').invalid"
      >
        <small *ngIf="form.get('title').errors.required">Enter title</small>
      </div>
    </div>

    <div class="mb-3 form-control">
      <label for="post" class="form-label w-100">Post text</label>
      <quill-editor formControlName="text"></quill-editor>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid || submitted"
    >
      Update
    </button>
  </form>
</div>

<ng-template #loading>
  <h3 class="text-center m-4">Loading...</h3>
</ng-template>
