<form class="card p-4 mt-2" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Enter account</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>
  <div class="alert alert-info" *ngIf="message">
    {{ message }}
  </div>
  <div
    class="mb-3 form-control"
    [ngClass]="{
      invalid: form.get('email').touched && form.get('email').invalid
    }"
  >
    <label for="email" class="form-label w-100">Email address</label>
    <input class="w-100" type="email" id="email" formControlName="email" />
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.required">
        Enter email address</small
      >
      <small *ngIf="form.get('email').errors.email">
        Should be a valid email address</small
      >
    </div>
  </div>
  <div
    class="mb-3 form-control"
    [ngClass]="{
      invalid: form.get('password').touched && form.get('password').invalid
    }"
  >
    <label for="password" class="form-label w-100">Password</label>
    <input
      class="w-100"
      type="password"
      id="password"
      formControlName="password"
    />
    <div
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="form.get('password').errors.required">
        Enter password</small
      >
      <small *ngIf="form.get('password').errors.minlength">
        Password must be at least
        {{ form.get("password").errors.minlength.requiredLength }}, now is
        {{ form.get("password").errors.minlength.actualLength }}
      </small>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >
    Enter
  </button>
</form>
