<div *ngIf="posts.length; else loading">
  <div class="form-control">
    <input
      type="text"
      class="w-100"
      placeholder="Find post..."
      [(ngModel)]="searchStr"
    />
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>author</th>
        <th>title</th>
        <th>date</th>
        <th>category</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | searchPosts : searchStr; let idx = index">
        <td>{{ idx + 1 }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.title }}</td>
        <!-- Display date in Russian ru -->
        <td>{{ post.date | date : "medium" : "" : "ru" }}</td>
        <td>{{ post.category }}</td>
        <td>
          <button
            class="btn btn-link me-4"
            [routerLink]="['/admin', 'post', post.id, 'edit']"
          >
            Open
          </button>
          <a (click)="remove(post.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <h3 class="text-center m-4">Loading...</h3>
</ng-template>
