<div class="d-flex flex-wrap justify-content-between" *ngIf="posts$ | async as posts; else loading">
  <app-post class="w-50" *ngFor="let post of posts" [post]="post"></app-post>
</div>

<ng-template #loading>
  <h3 class="text-center m-4">Loading...</h3>
</ng-template>
