<div class="bg-warning mb-4">
  <nav class="container navbar">
    <h3>
      <a class="navbar-brand" routerLink="/">Angular Admin</a>
    </h3>
    <ul
      class="nav justify-content-between"
      style="width: 30%"
      *ngIf="auth.isAuthenticated()"
    >
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'dashboard']">Dashboard</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'create']">Create</a>
      </li>
      <!-- <li routerLinkActive="active"  class="nav-item">
        <a [routerLink]="['/admin', 'edit']">Edit</a>
      </li> -->
      <li>
        <a href="#" (click)="logOut($event)">Logout</a>
      </li>
    </ul>
  </nav>
</div>
<app-alert></app-alert>

<div class="container">
  <router-outlet></router-outlet>
</div>
